DEVICE={{ bridge_device }}
STP=no
TYPE=Bridge
BOOTPROTO=none
DEFROUTE=yes
NAME={{ bridge_name }}
ONBOOT=yes
DNS1={{ bridge_dns1 }}
#DNS2=8.8.8.8
IPADDR={{ bridge_ip }}
PREFIX=24
GATEWAY={{ bridge_gateway }}
